/* color palette from <https://github.com/vuejs/theme> */
:root {
  --vt-c-white: #ffffff;
  --vt-c-white-soft: #f8f8f8;
  --vt-c-white-mute: #f2f2f2;

  --vt-c-black: #1e1c17;
  --vt-c-black-75: rgba(30, 28, 23, 0.75);
  --vt-c-black-50: rgba(30, 28, 23, 0.5);
  --vt-c-black-25: rgba(30, 28, 23, 0.25);
  --vt-c-black-10: rgba(30, 28, 23, 0.1);
  --vt-c-black-5: rgba(30, 28, 23, 0.05);

  /* Platform colors */
  --vt-c-golden: #f09701;
  --vt-c-golden-mute: #f09701cc;

  --vt-c-violet: #8f00f0;
  --vt-c-violet-mute: #8f00f0cc;

  --sunset-gradient: linear-gradient(to right, #f09701 20%, #8f00f0 100%);

  /* Background in-game colors */
  --vt-c-rust-orange: rgba(168, 79, 17, 0.8);
  --vt-c-sky-blue: rgba(48, 145, 248, 0.8);
  --vt-c-muted-lavender: rgba(100, 80, 159, 0.8);

  --vt-c-text-light-1: var(--vt-c-black);
  --vt-c-text-light-2: var(--vt-c-black-75);
  --vt-c-text-dark-1: var(--vt-c-white);
  --vt-c-text-dark-1: var(--vt-c-white-dark);
}

/* semantic color variables for this project */
:root {
  --color-primary: var(--vt-c-golden);
  --color-primary-dark: var(--vt-c-golden-mute);

  --color-secondary: var(--vt-c-violet);
  --color-secondary-dark: var(--vt-c-violet-mute);

  --color-background-1st-age: var(--vt-c-rust-orange);
  --color-background-2nd-age: var(--vt-c-sky-blue);
  --color-background-3rd-age: var(--vt-c-muted-lavender);

  --color-gradient: var(--sunset-gradient);

  --color-heading: var(--vt-c-text-light-1);
  --color-text: var(--vt-c-text-light-1);

  --section-gap: 160px;
}

/* Dark mode */
/* @media (prefers-color-scheme: dark) {
  :root {
    --color-background: var(--vt-c-violet);
    --color-background-mute: var(--vt-c-violet-mute);

    --color-heading: var(--vt-c-text-dark-1);
    --color-text: var(--vt-c-text-dark-2);
  }
} */

*,
*::before,
*::after {
  box-sizing: border-box;
}

body {
  min-height: 100vh;
  color: var(--color-text);
  background: var(--color-primary);
  transition:
    color 0.5s,
    background-color 0.5s;
  line-height: 1.6;
  font-size: 16px;
  text-rendering: optimizeLegibility;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}
