@import url('https://fonts.googleapis.com/css2?family=Cinzel:wght@400..900&family=Cormorant:ital,wght@0,300..700;1,300..700&display=swap');
@import 'tailwindcss';
@import 'primeicons/primeicons.css';
@import './base.css';

@theme {
  --font-cinzel: Cinzel, 'serif';
  --font-cormorant: Cormorant, 'serif';
  --color-primary: var(--color-primary);
  --color-primary-dark: var(--color-primary-dark);
  --color-secondary: var(--color-secondary);
  --color-secondary-dark: var(--color-secondary-dark);
  --color-gradient: var(--color-gradient);

  --color-black: var(--vt-c-black);
  --color-black-75: var(--vt-c-black-75);
  --color-black-50: var(--vt-c-black-50);
  --color-black-25: var(--vt-c-black-25);
  --color-black-10: var(--vt-c-black-10);
  --color-black-5: var(--vt-c-black-5);
  --color-white: var(--vt-c-white);
}

#app {
  max-width: 1600px;
  margin: 0 auto;
  padding: 0 122px;
  font-family: var(--font-cormorant);
}

h1,
h2,
h3,
h4 {
  font-family: var(--font-cinzel);
}

a {
  color: var(--color-black);
  text-decoration: none;
  transition: ease-in-out 0.3s;
}

@media (hover: hover) {
  a:hover {
    color: var(--color-secondary);
  }
}

@media (min-width: 1024px) {
}
